<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
    name="sfp-psalm-typed-local-variable-plugin"
>
    <config name="installed_paths" value="../../slevomat/coding-standard"/>
    <rule ref="PSR2" />
    <!-- Forbid usage of a function or a class constant via fallback global name -->
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly">
        <properties>
            <property name="allowFallbackGlobalConstants" type="boolean" value="false"/>
            <property name="allowFallbackGlobalFunctions" type="boolean" value="false"/>
            <property name="allowFullyQualifiedGlobalConstants" type="boolean" value="true"/>
            <property name="allowFullyQualifiedGlobalFunctions" type="boolean" value="true"/>
            <property name="allowFullyQualifiedGlobalClasses" type="boolean" value="true"/>
        </properties>
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName"/>
    </rule>

    <file>src/</file>
    <file>tests/Unit/</file>

    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>tests</exclude-pattern>
        <exclude-pattern>src/Psalm/Internal/Type/UnionTemplateHandler.php</exclude-pattern>
    </rule>

    <rule ref="PSR2.Namespaces.UseDeclaration">
        <exclude-pattern>*</exclude-pattern>
    </rule>
    <rule ref="PSR2">
        <exclude name="Generic.Files.LineLength"/>
    </rule>
</ruleset>
